**loc:** lable based selection

**iloc:** integer position based selection


---



With **loc[]**, the ending slice is included.

With **iloc[]**, the ending slice is not included.

## Continuação aula 05

In [0]:
import pandas as pd

f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None

In [0]:

#Nº de empregados 5 primeiras linhas:
#.loc: pega certo nº de linhas
aux = f500.loc["Walmart":"Toyota Motor",
        ["employees","years_on_global_500_list"]]
aux

                          employees  years_on_global_500_list
Walmart                     2300000                        23
State Grid                   926067                        17
Sinopec Group                713288                        19
China National Petroleum    1512048                        17
Toyota Motor                 364445                        23

In [0]:
#Quer saber da colunas quem tem mais que 900000 employees
aux.loc[:,"employees"] > 900000 #retorna booleano (true, false)

Walmart                      True
State Grid                   True
Sinopec Group               False
China National Petroleum     True
Toyota Motor                False
Name: employees, dtype: bool

In [0]:
aux.loc[aux.loc[:,"employees"] > 900000,:] #retorna só os true
aux[aux["employees"] > 900000] #aux da coluna employee ve quem eh true e false, vai em aux de novo e filtra

                          employees  years_on_global_500_list
Walmart                     2300000                        23
State Grid                   926067                        17
China National Petroleum    1512048                        17

In [0]:
aux[(aux["employees"] > 900000) & (aux.years_on_global_500_list > 20)] #só linhas com colunas de employees>900000 e years_on_global_500_list>20

         employees  years_on_global_500_list
Walmart    2300000                        23

In [0]:
print(f500.country.unique()) #função unique: faz retornar só uma vez cada país
# f500.country.unique().shape #shape: diz tamanho da estrutura(quantas linhas e colunas)
len(f500.country.unique())

['USA' 'China' 'Japan' 'Germany' 'Netherlands' 'Britain' 'South Korea'
 'Switzerland' 'France' 'Taiwan' 'Singapore' 'Italy' 'Russia' 'Spain'
 'Brazil' 'Mexico' 'Luxembourg' 'India' 'Malaysia' 'Thailand' 'Australia'
 'Belgium' 'Norway' 'Canada' 'Ireland' 'Indonesia' 'Denmark'
 'Saudi Arabia' 'Sweden' 'Finland' 'Venezuela' 'Turkey' 'U.A.E' 'Israel']

34

In [0]:
#quantas empresas de cada país:
f500.country.value_counts().sort_values(ascending=False) #1 coluna: série(a primeira é o índex), mais de 1: dataframe

USA             132
China           109
Japan            51
Germany          29
France           29
Britain          24
South Korea      15
Netherlands      14
Switzerland      14
Canada           11
Spain             9
India             7
Italy             7
Australia         7
Brazil            7
Taiwan            6
Ireland           4
Russia            4
Sweden            3
Singapore         3
Mexico            2
Saudi Arabia      1
Israel            1
Belgium           1
Finland           1
Venezuela         1
U.A.E             1
Thailand          1
Denmark           1
Turkey            1
Indonesia         1
Norway            1
Luxembourg        1
Malaysia          1
Name: country, dtype: int64

In [0]:
f500.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

## 1 Exploring Data with pandas

In [0]:
'''loc: procura o label
   iloc: index'''

### 1.1 Introduction


In pandas, each axis has labels, and we've learned to use loc[] to specify labels to create our selection:

<img width="400" src="https://drive.google.com/uc?export=view&id=19qbWRXXH0SrBu2FnMREay_KyvifucKNd">


In some scenarios, like specifying specific columns, using labels to make selections makes things easier - in others though, it makes things harder. If you wanted to select the tenth to twentieth rows in a dataframe, you'd need to know their labels first.

In this lesson, we'll learn how to index by integer position with pandas. We'll also learn more advanced selection techniques which will help us perform more complex data analysis.

We'll continue to use the Fortune Global 500 (2017) dataset from the previous lesson.

### 1.2 Using iloc to select by integer position

To select data by integer position using pandas we use the [Dataframe.iloc[]](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html) method and the [Series.iloc[]](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iloc.html) method. It's easy to get loc[] and iloc[] confused at first, but the easiest way is to remember the first letter of each method:

- **loc**: **l**able based selection
- **iloc**: **integer** position based selection

Using the **iloc[]** methods is almost identical to indexing with NumPy, with integer positions starting at **0** like ndarrays and Python lists. Let's take a look at how we would perform our selection from the previous screen using **iloc[]:**

<img width="400" src="https://drive.google.com/uc?export=view&id=1dQa9Y1ZVbYHCA0BhQxWL5FPgJVPAyU1P">


As you can see, **DataFrame.iloc[]** behaves similarly to **DataFrame.loc[]**. The full syntax for **DataFrame.iloc[]**, in psuedocode, is:

```python
df.iloc[row,column]
```

The valid inputs for row and column are almost identical to when you use **DataFrame.loc[]**, with the distinction being that you are using integers rather than labels:

- A single integer position.
- A list or array of integer positions.
- A slice object with integer positions.
- A boolean array.

Let's say we wanted to select just the first column from our **f500** dataframe. To do this, we use the : wildcards to specify all rows, and then use the integer 0 to specify the first column:

```python
first_column = f500.iloc[:,0]
print(first_column)
```
```python
0                        Walmart
1                     State Grid
2                  Sinopec Group
...
497    Wm. Morrison Supermarkets
498                          TUI
499                   AutoNation
Name: company, dtype: object
```

If we wanted to select a single row, we don't need to specify a column wildcard. Let's see how we'd select just the fourth row:

```python
fourth_row = f500.iloc[3]
print(fourth_row)
```
```python
company                 China National Petroleum
rank                                           4
revenues                                  262573
revenue_change                             -12.3
profits                                   1867.5
assets                                    585619
profit_change                              -73.7
ceo                                Zhang Jianhua
industry                      Petroleum Refining
sector                                    Energy
previous_rank                                  3
country                                    China
hq_location                       Beijing, China
website                   http://www.cnpc.com.cn
years_on_global_500_list                      17
employees                                1512048
total_stockholder_equity                  301893
Name: 3, dtype: object
```

If we are specifying a positional slice, we can take advantage of the same shortcut that we use with labels, using brackets without **loc**. Here's how we would select the rows between index positions one up to and including four:

```python
second_to_fifth_rows = f500[1:5]
```

```python
company  rank  revenues ... employees  total_stockholder_equity
1         State Grid     2    315199 ...    926067                    209456
2      Sinopec Group     3    267518 ...    713288                    106523
3  China National...     4    262573 ...   1512048                    301893
4       Toyota Motor     5    254694 ...    364445                    157210
```

In the example above, the row at index position 5 is not included, just like if we were slicing with a Python list. It's worth reiterating again that **iloc[]** handles slicing differently, as we learned in the previous mission:

- With **loc[]**, the **ending slice is included.**
- With **iloc[]**, the **ending slice is not included.**

The table below summarizes how we can use **DataFrame.iloc[]** and **Series.iloc[]** to select by integer position:


<img width="600" src="https://drive.google.com/uc?export=view&id=18jhblUrPsASHHdT5Lgpr6mmPmaIYo6og">


**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>


We have provided code to read the **f500.csv** file into a dataframe and assigned it to **f500**, and inserted **NaN** values into the **previous_rank** column as we did in the previous section.

- Select just the fifth row of the **f500** dataframe, assigning the result to **fifth_row.**
- Select the first three rows of the **f500** dataframe, assigning the result to **first_three_rows.**
- Select the first and seventh rows and the first 5 columns of the **f500** dataframe, assigning the result to **first_seventh_row_slice**

In [0]:
import pandas as pd
import numpy as np

f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

# put your code here
fifth_row = f500.iloc[4]
first_three_rows = f500.iloc[0:3]
first_seventh_row_slice = f500.iloc[[0, 7], 0:5]
# print(fifth_row)
# print("\n")
# print(first_three_rows)
# print("\n")
print(first_seventh_row_slice)

                    rank  revenues  revenue_change  profits  assets
Walmart                1    485873             0.8  13643.0  198825
Berkshire Hathaway     8    223604             6.1  24074.0  620854

### 1.3 Reading CSV files with pandas


So far, we've provided the code to read the CSV file into pandas for you. In this mission, we're going to teach you how to use the [pandas.read_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) function to read in CSV files. Before we start, let's take a look at the first few lines of our CSV file in its raw form. To make it easier to read, we're only showing the first four columns from each line:

```python
company,rank,revenues,revenue_change
Walmart,1,485873,0.8
State Grid,2,315199,-4.4
Sinopec Group,3,267518,-9.1
China National Petroleum,4,262573,-12.3
Toyota Motor,5,254694,7.7
```

Now let's take a moment to look at the code segment we've been using to read in the files.

```python
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None
```


Looking at the first line only, we use the **pandas.read_csv()** function with an unnamed argument, the name of the CSV file, and a named argument for the **index_col** parameter. The **index_col** parameter specifies which column to use as the row labels. We use a value of **0** to specify that we want to use the first column.

Let's look at what the **f500** dataframe looks like after that first line. We'll use **DataFrame.iloc[]** to show the first 5 rows and the first 3 columns:

```python
>>> f500 = pd.read_csv("f500.csv", index_col=0)

>>> print(f500.iloc[:5, :3])

                              rank  revenues  revenue_change
    company                                                    
    Walmart                      1    485873             0.8
    State Grid                   2    315199            -4.4
    Sinopec Group                3    267518            -9.1
    China National Petroleum     4    262573           -12.3
    Toyota Motor                 5    254694             7.7
```

Notice that above the index labels is the text **company**. This is the value from the start of the first row of the CSV, effectively the name of the first column. Pandas has used this value as the **axis name** for the index axis. Both the column and index axes can have names assigned to them. The next line of code removes that name:

```python
f500.index.name = None
```

First, we use **DataFrame.index** to access the index axes attribute, and then we use **index.name** to access the name of the index axes. By setting this to **None** we remove the name. Let's look at what it looks like after this action

```python
>>> f500.index.name = None

>>> print(f500.iloc[:5, :3])

                              rank  revenues  revenue_change
    Walmart                      1    485873             0.8
    State Grid                   2    315199            -4.4
    Sinopec Group                3    267518            -9.1
    China National Petroleum     4    262573           -12.3
    Toyota Motor                 5    254694             7.7
```

The index name has been removed.

The **index_col** parameter we used is an optional argument. Let's look at what it looks like if we use **pandas.read_csv()** without it:

```python
>>> f500 = pd.read_csv("f500.csv")

>>> print(f500.iloc[:5,:3])

                        company  rank  revenues
    0                   Walmart     1    485873
    1                State Grid     2    315199
    2             Sinopec Group     3    267518
    3  China National Petroleum     4    262573
    4              Toyota Motor     5    254694
```

There two differences with this approach:

- The **company** column is now included as a regular column, instead of being used for the index.
- The index labels are now integers starting from **0**.
- This is the more conventional way to read in a dataframe, and it's the method we'll use from here on in. There are a few things to be aware of when you have an integer index labels, and we'll talk about them in the next screen.


For now, let's re-read in the CSV file using the conventional method:

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

The pandas library is already imported from the previous screen.

- Use the **pandas.read_csv()** function to read the **f500.csv** CSV file as a pandas dataframe, and assign it to the variable name **f500**.
  - Do not use the **index_col** parameter, so that the dataframe has integer index labels.
- Use the code below to insert the **NaN** values into the **previous_rank** column: 
```python
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan
```

In [0]:
# put your code here
f500 = pd.read_csv("f500.csv")
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

### 1.4 Working with Integer Labels


As we observed in the previous subsection, our index labels are now integers compared with previously where all our index labels were strings. As a result, this means, that while our dataframe has all of the rows, in the same order, as when we read it in, that the integer position and the label for the index axis is the same. Let's look at an example:

<img width="500" src="https://drive.google.com/uc?export=view&id=1VeQE7W6ylvfg524QrO2tJ_-iFRud_04F">


Because the index axis of our dataframe has labels that are identical to the integer positions, both **loc[]** and **iloc[]** give the same result. But what if we have modified our dataframe in some way. Let's reorder the rows of our dataframe, and then see what happens:

<img width="500" src="https://drive.google.com/uc?export=view&id=1KT2Dus_gxSDfPeBSSxqNkoU8NWXJFlVk">

Now we get different results. When we use **df.iloc[1]** it still selects the second row, since **DataFrame.iloc[]** uses integer position. However, **df.loc[1]** selects the **third row– DataFrame.loc[]** itself doesn't mind that the rows are out of order, it just looks at the axis labels and selects the row with the matching label.

This is one of the most confusing parts of selecting data with pandas. You might not come across it often, because a lot of the time you'll work with a dataframe where the index labels are integers, and the dataframe contains all of its original rows, in order. You can use **DataFrame.iloc[]** and **DataFrame.loc[]** interchangeably and it doesn't matter which you chose.

Then, you remove some rows or change the order, and suddenly you're getting errors or unexpected behavior. For this reason, it's important to make sure that when you're selecting data you're always asking yourself, "Do I want to select based on position or label?" and choosing **DataFrame.iloc** or **DataFrame.loc[]** accordingly. Let's look at some examples with our **f500** dataframe where we come across this 'gotcha' to do with integer labels.

Let's say that we wanted to select just the Swedish companies from the Fortune 500:

```python
>>> swedish = f500.loc[f500["country"] == "Sweden","company":"revenues"]

>>> print(swedish)

                        company  rank  revenues
    300                   Volvo   301     35269
    418             LM Ericsson   419     26004
    481  H & M Hennes & Mauritz   482     22618
```

If we wanted to select the first company from our new swedish dataframe, we can use **DataFrame.iloc[]**:

```python
>>> first_swedish = swedish.iloc[0]

>>> print(first_swedish)

    company     Volvo
    rank          301
    revenues    35269
    Name: 300, dtype: object
```

Let's see what happens when we use **DataFrame.loc[]** instead of **DataFrame.iloc[]**:

```python
>>> first_swedish = swedish.loc[0]

    ---------------------------------------------------------------------------
    KeyError                                  Traceback (most recent call last)
    /python3.4/site-packages/pandas/core/indexing.py in _has_valid_type(self, key, axis)
       1410                 if key not in ax:
    -> 1411                     error()
       1412             except TypeError as e:

    /python3.4/site-packages/pandas/core/indexing.py in error()
       1405                 raise KeyError("the label [%s] is not in the [%s]" %
    -> 1406                                (key, self.obj._get_axis_name(axis)))
       1407 

    KeyError: 'the label [0] is not in the [index]'
```

We get an error, telling us that **the label [0] is not in the [index]** (the actual traceback for this error is much longer than this, we have truncated it for brevity). And indeed, there is no row that has a label **0** in the index of our **swedish** dataframe.

The four most common times we will see this is when we alter the rows in our dataframe by:

1. Selecting a subset of the data (like in the example above).
2. Removing certain rows, for example if they have null values (which we'll explore in the next mission).
3. Randomizing the order of the rows in our dataframe (which is commonly done to perform machine learning).
4. Sorting the rows.

Regardless of how we altered the dataframe, the way to avoid this is the same: Always think carefully and deliberately about whether you want to select by label or integer position, and use **DataFrame.loc[]** or **DataFrame.iloc[]** accordingly.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

In the code below, we have used the [DataFrame.sort_values()](https://www.dataquest.io/m/292/exploring-data-with-pandas/4/working-with-integer-labels) method to sort the rows in the **f500** dataframe by the employees column from most to least employees, and have assigned the resulting dataframe to **sorted_emp**.

  - Assign the first five rows of the **sorted_emp** dataframe to the variable **top5_emp**, by choosing the correct method out of either **loc[]** or **iloc[].**

In [0]:
sorted_emp = f500.sort_values("employees", ascending=False)

# put your code here
top5_emp = sorted_emp.iloc[:5, :]
top5_emp

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
118,China Post Group,119,65605,-5.8,4980.3,1221649,18.7,Li Guohua,"Mail, Package, and Freight Delivery",Transportation,105.0,China,"Beijing, China",http://www.chinapost.com.cn,7,941211,43114
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476

### 1.5 Using pandas methods to create boolean masks


We've previously used the Python boolean operators like >, <, and **==** to create boolean masks to select subsets of data. There are also a number of pandas methods that return boolean masks that are useful for working with an exploring data.

You might have noticed that for companies from the USA, the **hq_location** column contains both the city and state that the company is headquartered in:

```python
>>> usa_hqs = f500.loc[f500["country"] == "USA", "hq_location"]

>>> print(usa_hqs.head())

    0       Bentonville, AR
    7             Omaha, NE
    8         Cupertino, CA
    9            Irving, TX
    10    San Francisco, CA
    Name: hq_location, dtype: object
```

The two letters at the end of each of these values represent the state within the USA: AR for Arkansas, NE for Nebreska, CA for California, and TX for Texas. If we wanted to look at only companies headquartered in California, it would be useful to be able to create a boolean mask based on the text within these values.

There are two pandas methods that we could use to achieve this: the [Series.str.contains()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html) method and the [Series.str.endswith()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.endswith.html) method. The Series.str.contains() method is a vectorized version of Python's in operator:

```python
>>> name = "Michael Johnson"

>>> "Michael" in name

    True

>>> "John" in name

    True

>>> "Eric" in name

    False
```

In contrast, **Series.str.endswith()** is a vectorized version of the Python string **str.endswith()** method , which is probably a better option for our purposes, as it will ensure that we don't get any stray matches. This is how we could go about it:


```python
>>> usa = f500.loc[f500["country"] == "USA"]

>>> print(usa["hq_location"].head())

    0       Bentonville, AR
    7             Omaha, NE
    8         Cupertino, CA
    9            Irving, TX
    10    San Francisco, CA
    Name: hq_location, dtype: object

>>> is_california = usa["hq_location"].str.endswith("CA")

>>> print(is_california.head())

    0     False
    7     False
    8      True
    9     False
    10     True
    Name: hq_location, dtype: bool

>>> california = usa[is_california]

>>> print(california.iloc[:5,:3])

            company  rank  revenues
    8         Apple     9    215639
    10     McKesson    11    198533
    44      Chevron    45    107567
    60  Wells Fargo    61     94176
    64     Alphabet    65     90272
```

We won't use it in this mission, but you should also be aware of the [Series.str.startswith()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.startswith.html) method, a vectorized version of the Python string [str.startswith()](https://docs.python.org/3.6/library/stdtypes.html#str.startswith) method and can be used to create boolean masks based on the start of string values.

Another pair of handy pandas methods that create boolean masks is the [Series.isnull()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isnull.html) method and [Series.notnull()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notnull.html) method. These return boolean masks that you can use to select either rows that contain null (or NaN) values for a certain column, or inversely those rows that don't. These can be particularly useful for identifying and exploring the rows in a dataframe.

Let's see the **Series.isnull()** method in action to look at the rows that have null values in the **revenue_change** column.

```python
>>> rev_change_null = f500[f500["revenue_change"].isnull()]

>>> print(rev_change_null[["company","country","sector"]])

                            company  country      sector
    90                       Uniper  Germany      Energy
    180  Hewlett Packard Enterprise      USA  Technology
```

We can see that the two companies with missing values for the **revenue_change** column is Uniper, a German energy company; and Hewlett Parkard Enterprise, an American technology company. Let's use what we've learned to calculate ranking change for the companies that were ranked last year.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Use the **Series.notnull()** method to select all rows from **f500** that have a non-null value for the **previous_rank** column, and assign the result to **previously_ranked**
- From the **previously_ranked** dataframe, subtract the previous_rank column from the rank column, and assign the result to **rank_change.**

In [0]:
# put your code here
previously_ranked = f500[f500["previous_rank"].notnull()]
rank_change = previously_ranked[["previous_rank"]]
rank_change

     previous_rank
0              1.0
1              2.0
2              4.0
3              3.0
4              8.0
5              7.0
6              5.0
7             11.0
8              9.0
9              6.0
10            12.0
11            10.0
12            17.0
13            18.0
14            13.0
15            14.0
16            16.0
17            20.0
18            23.0
19            19.0
20            21.0
21            15.0
22            28.0
23            27.0
24            33.0
25            44.0
26            25.0
27            22.0
28            36.0
29            24.0
..             ...
455          455.0
457          400.0
459          422.0
460          492.0
462          419.0
464          446.0
465          451.0
467          459.0
468          392.0
469          435.0
470          487.0
471          445.0
473          483.0
474          461.0
475          384.0
476          494.0
478          429.0
479          472.0
480          490.0
481          488.0
483          466.0
485          431.0
486          474.0
488          425.0
489          383.0
490          471.0
492          404.0
496          427.0
497          437.0
498          467.0

[467 rows x 1 columns]

### 1.6 Boolean Operators


Boolean indexing is a powerful tool which allows us to select or exclude parts of our data based on their values to perform analysis. There are however, some questions that we can't yet answer, like:

- Which companies have over 100 billion in revenue and also have revenue growth of more than 10%?
- What are the top 5 technology companies outside the USA?

All of these questions have two or more parts that depend on the values. As an example, to answer the first question we would have to identify all the companies that have over 100 billion in revenue and also have revenue growth of more than 10%. To do this, we need to learn how to combine boolean arrays.

To recap, boolean arrays are created using any of the Python standard **comparison operators**: **==** (equal), **>** (greater than), **<** (less than), **!=** (not equal).

We combine boolean arrays using **boolean operators**. In Python, these boolean operators are **and**, **or**, and **not**. In pandas, the operators are slightly different:


| pandas | Python equivalent | Meaning |
|--------|-------------------|-------------------------------------------|
| a & b | a and b | True if both a and b are True, else False |
| a $|$ b | a or b | True if either a or b is True |
| ~a | not a | True if a is False, else False |


Let's look at how these boolean operators work across pandas series objects, using two example series objects, **a** and **b**:


<img width="200" src="https://drive.google.com/uc?export=view&id=1911_tZkilBFq50Qeojr8E41aTBBNQbta">

We'll start by using the & operator to perform a boolean **'and'**:

<img width="600" src="https://drive.google.com/uc?export=view&id=1ZdBex9EhkUA42_IzUAsbxnFU4w5-Upkg">

Let's look at what happens when we use $|$ to perform a boolean 'or':

<img width="600" src="https://drive.google.com/uc?export=view&id=1TZqw-H0A-59yCkpDKrHIeVex5lHIEhEk">

Lastly, let's look at what happens when we use ~ to perform a boolean 'not':


<img width="600" src="https://drive.google.com/uc?export=view&id=1llHLeYGNC_mtDT0qttPD9sZTJnRAwoA1">


Let's test our understanding of how boolean operators work with some multiple choice exercises:

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

Looking at the dataframe and code below, chose the series that matches the result of the boolean operation and assign the integer 1, 2, or 3 to **answer_1**.

<img width="600" src="https://drive.google.com/uc?export=view&id=1EaFFoKazQIrAYd2tWuSSgXfePQ0nqcGm">


Looking at the dataframe and code below, chose the series that matches the result of the boolean operation and assign the integer 1, 2, or 3 to **answer_2.**


<img width="600" src="https://drive.google.com/uc?export=view&id=1NgbMDdJ_oPL12pTVfCGBfv-_HX7Wl327">

Looking at the dataframe and code below, chose the series that matches the result of the boolean operation and assign the integer 1, 2, or 3 to **answer_3.**


<img width="600" src="https://drive.google.com/uc?export=view&id=1-CZEjG5SY9Ho2alht_LjA47kKdecXA4A">

### 1.7 Using Boolean Operators


Let's look at how we use boolean operators to combine multiple boolean comparisons in practice. We'll use **f500_sel**, a small selection of our f500 dataframe:

<img width="600" src="https://drive.google.com/uc?export=view&id=1jR7JlIVoPzYkjy_xfpvYEaCXvikUK3qU">


We want to find the companies in **f500_sel** with more than 265 billion in revenue that are headquarted in China. We'll start by performing two boolean comparisons to produce two separate boolean arrays; One based on revenue, and one based on country (the revenue column is already in millions).

<img width="600" src="https://drive.google.com/uc?export=view&id=1SVde3lAUEGVt69qDE7_9LHyjI80A-2_s">

We then use the & operator to combine the two boolean arrays using boolean 'and' logic:

<img width="600" src="https://drive.google.com/uc?export=view&id=1fefm6MA1piKONeawWn94ocbUZzb7KF4a">


Lastly, we use the combined boolean array to perform selection on our dataframe:


<img width="600" src="https://drive.google.com/uc?export=view&id=1f5tAqGgDvn_faQcSK8CzSC7e3NTRII11">


The result give us the two companies from **f500_sel** that are both Chinese and have over 265 billion in revenue. Just like when we use a single boolean array to perform selection, when using multiple boolean arrays with boolean operators we don't need to assign things to intermediate variables. Let's look at how we can streamline the code from the example above. First, let's look at the code as one segment:

```python
cols = ["company", "revenues", "country"]
final_cols = ["company", "revenues"]

f500_sel = f500[cols].head()
over_265 = f500_sel["revenues"] > 265000
china = f500_sel["country"] == "China"
combined = over_265 & china
result = f500_sel.loc[combined,final_cols]
```

The first place we can optimize our code is by making our two boolean comparisons, with their boolean operator in a single line, instead of assigning them to the intermediate **china** and **over_265** variables first:


```python
combined = (f500_sel["revenues"] > 265000) & (f500_sel["country"] == "China")
```

We have used parentheses around each of our boolean comparisons. This is very important– **our boolean operation will fail without parentheses**. Lastly, instead of assigning the boolean arrays to **combined**, we can insert the comparison directly into our selection:

```python
result = f500_sel.loc[(f500_sel["revenues"] > 265000) & (f500_sel["country"] == "China"), final_cols]
```

Whether to perform this final state is very much a matter of taste. As always, your decision should be driven by what will make your code more readable. Cramming everything into one line is not always the best option.

Let's practice more complex selection using boolean operators

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Select from the **f500** dataframe:
  - Companies with revenues over 100 billion and negative profits, assigning the result to **big_rev_neg_profit**.
  - The first 5 companies in the Technology sector that are not headquartered in the USA, assigning the result to **tech_outside_usa**.

In [0]:
# put your code here
big_rev_neg_profit = f500.loc[(f500["revenues"] > 100000000) & (f500["profits"] < 0), ["company"]]
# big_rev_neg_profit

tech_outside_usa = f500.loc[(f500["sector"] == "Technology") & ~(f500["country"] == "USA")]
tech_outside_usa

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13.0,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632
82,Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129.0,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415
109,Panasonic,110,67775,6.7,1378.4,53702,0.2,Kazuhiro Tsuga,"Electronics, Electrical Equip.",Technology,128.0,Japan,"Osaka, Japan",http://www.panasonic.com/global,23,257533,14109
182,Amer International Group,183,49677,3.9,1199.9,18405,5.2,Wang Wenyin,"Electronics, Electrical Equip.",Technology,190.0,China,"Shenzhen, China",http://www.amer.com.cn,5,17852,10005
200,LG Electronics,201,47712,-4.6,66.2,31348,-39.8,Seong-Jin Jo,"Electronics, Electrical Equip.",Technology,180.0,South Korea,"Seoul, South Korea",http://www.lg.com,17,75000,9926
225,Lenovo Group,226,43035,-4.2,535.1,27186,NaN,Yang Yuanqing,"Computers, Office Equipment",Technology,202.0,China,"Hong Kong, China",http://www.lenovo.com,8,52000,3224
236,Fujitsu,237,41620,5.4,816.7,28646,13.0,Tatsuya Tanaka,Information Technology Services,Technology,248.0,Japan,"Tokyo, Japan",http://www.fujitsu.com,23,155069,7910
260,JD.com,261,39155,35.7,-573.0,23077,NaN,Richard Qiangdong Liu,Internet Services and Retailing,Technology,366.0,China,"Beijing, China",http://www.jd.com,2,120622,4877
261,Mitsubishi Electric,262,39119,6.9,1942.6,37519,2.1,Masaki Sakuyama,"Electronics, Electrical Equip.",Technology,276.0,Japan,"Tokyo, Japan",http://www.mitsubishielectric.com,23,138700,18307
295,Pegatron,296,35891,-6.1,599.6,13776,-20.1,Syh-Jang Liao,"Computers, Office Equipment",Technology,259.0,Taiwan,"Taipei, Taiwan",http://www.pegatroncorp.com,5,196251,4601
304,Accenture,305,34798,5.7,4111.9,20609,34.7,Pierre Nanterme,Information Technology Services,Technology,312.0,Ireland,"Dublin, Ireland",http://www.accenture.com,16,384000,7555
346,Canon,347,31271,-0.4,1385.0,44062,-23.9,Fujio Mitarai,"Computers, Office Equipment",Technology,332.0,Japan,"Tokyo, Japan",http://www.canon.com,23,197673,23865
361,China Electronics,362,30010,-4.8,321.9,36575,82.6,Rui Xiaowu,"Electronics, Electrical Equip.",Technology,329.0,China,"Beijing, China",http://www.cec.com.cn,7,144659,4831
368,Taiwan Semiconductor Manufacturing,369,29388,10.6,10283.7,58535,7.8,Mark Liu,Semiconductors and Other Electronic Components,Technology,403.0,Taiwan,"Hsinchu, Taiwan",http://www.tsmc.com,3,46968,42174
389,Quanta Computer,390,27715,-12.7,469.3,18229,-16.4,Barry Lam,"Computers, Office Equipment",Technology,326.0,Taiwan,"Taoyuan, Taiwan",http://www.quantatw.com,12,92698,4123
398,Schneider Electric,399,27307,-7.6,1935.2,44137,24.0,Jean-Pascal Tricoire,"Electronics, Electrical Equip.",Technology,354.0,France,"Rueil-Malmaison, France",http://www.schneider-electric.com,16,143901,21614
414,Nokia,415,26113,73.4,-847.1,47354,-131.0,Rajeev Suri,Network and Other Communications Equipment,Technology,NaN,Finland,"Espoo, Finland",http://www.nokia.com,19,102687,21192
418,LM Ericsson,419,26004,-11.2,200.5,31199,-87.5,Borje Ekholm,Network and Other Communications Equipment,Technology,357.0,Sweden,"Stockholm, Sweden",http://www.ericsson.com,23,111464,15395
436,NEC,437,24596,4.5,252.0,24091,-60.1,Takashi Niino,Information Technology Services,Technology,452.0,Japan,"Tokyo, Japan",http://www.nec.com,23,107729,7668
442,SAP,443,24397,5.8,4031.9,46696,18.6,William R. McDermott,Computer Software,Technology,462.0,Germany,"Walldorf, Germany",http://www.sap.com,2,84183,27817
449,Midea Group,450,24060,8.5,2210.4,24549,9.3,Fang Hongbo,"Electronics, Electrical Equip.",Technology,481.0,China,"Foshan, China",http://www.midea.com,2,126418,8796
454,Flex,455,23863,-2.3,319.6,12593,-28.0,Michael M. McNamara,Semiconductors and Other Electronic Components,Technology,441.0,Singapore,Singapore,http://www.flex.com,17,200000,2645
457,Compal Electronics,458,23773,-10.9,252.1,10769,-7.9,Jui-Tsung Chen,"Computers, Office Equipment",Technology,400.0,Taiwan,"Taipei, Taiwan",http://www.compal.com,6,64728,3283
461,Alibaba Group Holding,462,23517,47.9,6489.5,73538,-42.2,Daniel Zhang,Internet Services and Retailing,Technology,NaN,China,"Hangzhou, China",http://www.alibabagroup.com,1,50097,40454
473,Onex,474,22943,3.8,-130.0,42913,NaN,Gerald W. Schwartz,Semiconductors and Other Electronic Components,Technology,483.0,Canada,"Toronto, Ontario, Canada",http://www.onex.com,18,161000,-490
477,Tencent Holdings,478,22871,39.7,6185.9,56968,35.0,Pony Ma,Internet Services and Retailing,Technology,NaN,China,"Shenzhen, China",http://www.tencent.com,1,38775,25128
478,LG Display,479,22840,-9.0,781.4,20606,-8.6,Sang-Beom Han,"Electronics, Electrical Equip.",Technology,429.0,South Korea,"Seoul, South Korea",http://www.lgdisplay.com,6,49094,10729

### 1.8 Pandas Index Alignment


So far, we've only seen examples where the dataframe and series objects we're working with have matching index labels. One of the most powerful aspects of pandas is that almost every operation will **align on the index labels**. Let's look at an example– below we have a dataframe **food** and a **series** colors:

<img width="300" src="https://drive.google.com/uc?export=view&id=1_LAUprnXe3BYUgUg2r5fS2kfPpoTtdgt">

Both the **food** dataframe and the **colors** series have the same index labels, however they are in totally different orders. As an example, the first row of **food** has the index label **tomato**, and the first item of **colors** has the index label **corn**.

If we wanted to add **colors** as a new column in our **food** dataframe, we can use the following code:

```python
food["color"] = colors
```

When we do this, pandas will ignore the order of the colors series, and align on the index labels:

<img width="350" src="https://drive.google.com/uc?export=view&id=1zD-HqxfZ8yUj_4pNrbQasrnASTX0zhQE">

The result of our code operation is the dataframe below:

<img width="300" src="https://drive.google.com/uc?export=view&id=1hDfSi-D5sJf788MlGOI63vmAlLYrVIYU">


We can see that pandas has done all the hard work for us, and we don't have to worry about the fact that our series and dataframe were ordered differently. Let's look at another example. Say we had the series **alt_name** below:

<img width="200" src="https://drive.google.com/uc?export=view&id=1jMt7P6e0d7X8yaE2kLm0gPzaCxQtS30F">


The **alt_name** series only has three items. The first item, with index label **arugula** doesn't have a corresponding row in the **food** dataframe, where the other two do. Let's see what happens when we assign this as a new column:

```python
food["alt_name"] = alt_name
```

<img width="300" src="https://drive.google.com/uc?export=view&id=1Vs-aLaUmDmdqUtDPt6_Eh7B3T6d3Wvhx">


In this scenario, pandas:

- Discards any items that have an index that doesn't match the dataframe.
- Aligns on the index labels for the values that do match the dataframe.
- Fills any remaining rows with **NaN**

If we assign a new column with no matching index labels, pandas follows the same three steps above, but as there are no matching labels, all rows in the new column will be **NaN** values.

The pandas library will align on index at every opportunity - this makes working with data from different sources, or working with data when you have removed, added, or reordered rows much easier than it would be otherwise. This works whether your index labels are strings or integers - as long as you haven't made modifications to the index labels, you can use index alignment to our advantage.

Let's practice this using our Fortune 500 data.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>


Earlier, we created the **rank_change** series by performing vectorized subtraction only on rows without null values. We have included the code again as a reminder.

- Assign the values in the **rank_change** to a new column in the **f500** dataframe, **"rank_change".**
- Once you have run your code, use the variable inspector to look at the **f500** dataframe and observe how the new column aligns with the existing data.

In [0]:
previously_ranked = f500[f500["previous_rank"].notnull()]
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]

# put your code here
f500["rank_change"] = rank_change
f500

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,0.0
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7.0,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753,1.0
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5.0,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646,-2.0
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11.0,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001,3.0
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9.0,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249,0.0
9,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6.0,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325,-4.0
10,McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12.0,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095,1.0
11,BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10.0,Britain,"London, Britain",http://www.bp.com,23,74500,95286,-2.0
12,UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17.0,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274,4.0
13,CVS Health,14,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18.0,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830,4.0
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13.0,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376,-2.0
15,Glencore,16,173883,2.0,1379.0,124600,NaN,Ivan Glasenberg,"Mining, Crude-Oil Production",Energy,14.0,Switzerland,"Baar, Switzerland",http://www.glencore.com,7,93123,44243,-2.0
16,Daimler,17,169483,2.2,9428.4,256262,0.9,Dieter Zetsche,Motor Vehicles and Parts,Motor Vehicles & Parts,16.0,Germany,"Stuttgart, Germany",http://www.daimler.com,23,282488,61116,-1.0
17,General Motors,18,166380,9.2,9427.0,221690,-2.7,Mary T. Barra,Motor Vehicles and Parts,Motor Vehicles & Parts,20.0,USA,"Detroit, MI",http://www.gm.com,23,225000,43836,2.0
18,AT&T,19,163786,11.6,12976.0,403821,-2.8,Randall L. Stephenson,Telecommunications,Telecommunications,23.0,USA,"Dallas, TX",http://www.att.com,23,268540,123135,4.0
19,EXOR Group,20,154894,1.5,651.3,186172,-21.1,John Elkann,Diversified Financials,Financials,19.0,Netherlands,"Amsterdam, Netherlands",http://www.exor.com,7,302562,11582,-1.0
20,Ford Motor,21,151800,1.5,4596.0,237951,-37.7,James P. Hackett,Motor Vehicles and Parts,Motor Vehicles & Parts,21.0,USA,"Dearborn, MI",http://www.ford.com,23,201000,29170,0.0
21,Industrial & Commercial Bank of China,22,147675,-11.7,41883.9,3473238,-5.0,Gu Shu,Banks: Commercial and Savings,Financials,15.0,China,"Beijing, China",http://www.icbc-ltd.com,19,461749,283438,-7.0
22,AmerisourceBergen,23,146850,8.0,1427.9,33656,NaN,Steven H. Collis,Wholesalers: Health Care,Wholesalers,28.0,USA,"Chesterbrook, PA",http://www.amerisourcebergen.com,18,18500,2129,5.0
23,China State Construction Engineering,24,144505,3.1,2492.9,201269,10.7,Guan Qing,"Engineering, Construction",Engineering & Construction,27.0,China,"Beijing, China",http://www.cscec.com,6,263915,15344,3.0
24,AXA,25,143722,11.2,6446.0,941556,3.5,Thomas Buberl,"Insurance: Life, Health (stock)",Financials,33.0,France,"Paris, France",http://www.axa.com,23,97707,74454,8.0
25,Amazon.com,26,135987,27.1,2371.0,83402,297.8,Jeffrey P. Bezos,Internet Services and Retailing,Technology,44.0,USA,"Seattle, WA",http://www.amazon.com,9,341400,19285,18.0
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476,-2.0
27,China Construction Bank,28,135093,-8.7,34840.9,3016578,-4.0,Wang Hongzhang,Banks: Commercial and Savings,Financials,22.0,China,"Beijing, China",http://www.ccb.com,18,362482,226851,-6.0
28,Honda Motor,29,129198,6.2,5690.3,170165,98.3,Takahiro Hachigo,Motor Vehicles and Parts,Motor Vehicles & Parts,36.0,Japan,"Tokyo, Japan",http://www.honda.com,23,211915,65482,7.0
29,Total,30,127925,-10.8,6196.0,230978,21.8,Patrick Pouyanne,Petroleum Refining,Energy,24.0,France,"Courbevoie, France",http://www.total.com,23,102168,98680,-6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,Amgen,471,22991,6.1,7722.0,77626,11.3,Robert A. Bradway,Pharmaceuticals,Health Care,487.0,USA,"Thousand Oaks, CA",http://www.amgen.com,2,19200,29875,16.0
471,Rabobank Group,472,22956,-4.4,828.3,698790,-15.1,Wiebe Draijer,Banks: Commercial and Savings,Financials,445.0,Netherlands,"Utrecht, Netherlands",http://www.rabobank.com,23,40029,27232,-27.0
472,Altice,473,22953,42.2,-1722.5,84805,NaN,Michel Combes,Telecommunications,Telecommunications,NaN,Netherlands,"Amsterdam, Netherlands",http://www.altice.net,1,49732,-2668,NaN
473,Onex,474,22943,3.8,-130.0,42913,NaN,Gerald W. Schwartz,Semiconductors and Other Electronic Components,Technology,483.0,Canada,"Toronto, Ontario, Canada",http://www.onex.com,18,161000,-490,9.0
474,US Foods Holding,475,22919,-0.9,209.8,8945,25.2,Pietro Satriano,Wholesalers: Food and Grocery,Wholesalers,461.0,USA,"Rosemont, IL",http://www.usfoods.com,2,25000,2538,-14.0
475,Shanxi Jincheng Anthracite Coal Mining Group,476,22875,-17.0,3.0,32954,NaN,He Tiancai,"Mining, Crude-Oil Production",Energy,384.0,China,"Jincheng, China",http://www.jamg.cn,5,135691,2988,-92.0
476,Randstad Holding,477,22873,7.3,650.2,9624,13.0,Jacques van den Broek,Temporary Help,Business Services,494.0,Netherlands,"Diemen, Netherlands",http://www.randstad.com,5,32280,4366,17.0
477,Tencent Holdings,478,22871,39.7,6185.9,56968,35.0,Pony Ma,Internet Services and Retailing,Technology,NaN,China,"Shenzhen, China",http://www.tencent.com,1,38775,25128,NaN
478,LG Display,479,22840,-9.0,781.4,20606,-8.6,Sang-Beom Han,"Electronics, Electrical Equip.",Technology,429.0,South Korea,"Seoul, South Korea",http://www.lgdisplay.com,6,49094,10729,-50.0
479,Emirates Group,480,22799,0.3,340.3,33096,-82.5,Sheikh Ahmed bin Saeed Al Maktoum,Airlines,Transportation,472.0,U.A.E,"Dubai, U.A.E",http://www.theemiratesgroup.com,2,64768,9395,-8.0
480,U.S. Bancorp,481,22744,5.8,5888.0,445964,0.2,Andrew J. Cecere,Banks: Commercial and Savings,Financials,490.0,USA,"Minneapolis, MN",http://www.usbank.com,12,71191,47298,9.0
481,H & M Hennes & Mauritz,482,22618,4.6,2192.3,10681,-12.3,Karl-Johan Persson,Specialty Retailers,Retailing,488.0,Sweden,"Stockholm, Sweden",http://www.hm.com,2,114586,6635,6.0
482,Aflac,483,22559,8.1,2659.0,129819,5.0,Daniel P. Amos,"Insurance: Life, Health (stock)",Financials,NaN,USA,"Columbus, GA",http://www.aflac.com,10,10212,20482,NaN
483,Sodexo,484,22477,-2.0,707.2,15766,-12.7,Michel Landel,Food Services,"Hotels, Restaurants & Leisure",466.0,France,"Issy-les-Moulineaux, France",http://www.sodexo.com,18,425594,4085,-18.0
484,Suning Commerce Group,485,22366,3.7,106.0,19738,-23.6,Ren Jun,Specialty Retailers,Retailing,NaN,China,"Nanjing, China",http://www.suning.com,1,60354,9455,NaN
485,GS Caltex,486,22207,-11.4,1221.1,15969,42.1,Jin-Soo Huh,Petroleum Refining,Energy,431.0,South Korea,"Seoul, South Korea",http://www.gscaltex.com,6,2949,8150,-55.0
486,Ultrapar Holdings,487,22167,-2.3,447.5,7426,-0.8,Thilo Mannhardt,Energy,Energy,474.0,Brazil,"Sao Paulo, Brazil",http://www.ultra.com.br,8,15173,2621,-13.0
487,Xiamen C&D,488,22145,6.6,280.2,21729,15.6,Huang Wenzhou,Trading,Wholesalers,NaN,China,"Xiamen, China",http://www.chinacdc.com,1,18381,3985,NaN
488,Sears Holdings,489,22138,-12.0,-2221.0,9362,NaN,Edward S. Lampert,General Merchandisers,Retailing,425.0,USA,"Hoffman Estates, IL",http://www.searsholdings.com,23,140000,-3824,-64.0
489,China General Technology,490,22113,-20.1,413.6,20860,-20.8,Xu Xianping,"Engineering, Construction",Engineering & Construction,383.0,China,"Beijing, China",http://www.genertec.com.cn,4,38589,5114,-107.0
490,National Grid,491,22036,-3.2,10150.6,82310,160.2,John Pettigrew,Utilities,Energy,471.0,Britain,"London, Britain",http://www.nationalgrid.com,12,22132,25463,-20.0
491,Dollar General,492,21987,7.9,1251.1,11672,7.4,Todd J. Vasos,Specialty Retailers,Retailing,NaN,USA,"Goodlettsville, TN",http://www.dollargeneral.com,1,121000,5406,NaN
492,Telecom Italia,493,21941,-17.4,1999.4,74295,NaN,Flavio Cattaneo,Telecommunications,Telecommunications,404.0,Italy,"Milan, Italy",http://www.telecomitalia.com,18,61227,22366,-89.0
493,Xiamen ITG Holding Group,494,21930,34.3,35.6,12161,-25.1,Xu Xiaoxi,Trading,Wholesalers,NaN,China,"Xiamen, China",http://www.itgholding.com.cn,1,18454,1066,NaN
494,Xinjiang Guanghui Industry Investment,495,21919,31.1,251.8,31957,49.9,Shang Jiqiang,Trading,Wholesalers,NaN,China,"Urumqi, China",http://www.guanghui.com,1,65616,4563,NaN
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,NaN,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337,NaN
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427.0,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507,-70.0
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437.0,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111,-61.0
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467.0,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006,-32.0
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,NaN,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310,NaN

### 1.9 Using Loops with pandas


So far, we've explicitly avoided doing anything with loops using pandas. Because one of the key benefits of pandas is that it has vectorized methods to work with data more efficiently, we want to avoid using loops wherever we can.

As an illustration, let's look at one common pattern that you might be tempted to use a loop for, and how we can use a vectorized operation to replace it. Let's try and replace all of the values in the column **B** a dataframe:

```python
>>> print(df)

       A  B  C
    x  6  1  0
    y  1  8  8
    z  3  8  7

>>> for row in df:
        if row["B"] == 8:
            row["B"] = 99

    ---------------------------------------------------
    TypeError                                 Traceback
    <ipython-input-17-baf1fd443d29> in module()
          1 for row in df:
    ----> 2     if row["B"] == 8:
          3         row["B"] = 99

    TypeError: string indices must be integers
</ipython-input-17-baf1fd443d29>
```

In this code, we attempted to loop over every row of the dataframe, check the value for a particular column, and if it matches our check, we change it. Unfortunately, our code produced an error.

When you attempt to loop over a dataframe, it returns the column index labels, rather than the rows as we might expect. There are pandas methods to help loop over dataframes, but they should be only used as a last resort, and can almost always be avoided (we'll learn about those methods in a later course).

```python
>>> print(df)

       A  B  C
    x  6  1  0
    y  1  8  8
    z  3  8  7

>>> for i in df:
        print(i)

    A
    B
    C
```

Instead of trying to use loops, we can perform the same operation quickly and easily using vectorized operations:

```python
>>> df.loc[df["B"] == 8, "B"] = 99

>>> print(df)

       A   B  C
    x  6   1  0
    y  1  99  8
    z  3  99  7
```

One scenario where it is useful to use loops with pandas is when we are performing aggregation. Aggregation is where we apply a statistical operation to groups of our data. Let's say that we wanted to work out what the average revenue was for each country in the data set. Our process might look like this:

- Identify each unique country in the data set.
- For each country:
  - Select only the rows corresponding to that country.
  - Calculate the average revenue for those rows.

In this process, we can use a loop to iterate over the countries. We'll still use vectorized operations to select the right rows and calculate the means, so our calculation remains fast. To identify the unique countries, we can use the [Series.unique() method](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html). This method returns an array of unique values from any series. Once we have that, we can loop over that array and perform our operation. We'll use a dictionary to store the results. Here's what that looks like:


```python
# Create an empty dictionary to store the results
avg_rev_by_country = {}

# Create an array of unique countries
countries = f500["country"].unique()

# Use a for loop to iterate over the countries
for c in countries:
    # Use boolean comparison to select only rows that
    # correspond to a specific country
    selected_rows = f500[f500["country"] == c]
    # Calculate the mean average revenue for just those rows
    mean = selected_rows["revenues"].mean()
    # Assign the mean value to the dictionary, using the
    # country name as the key
    avg_rev_by_country[c] = mean
```


The resulting dictionary is below (we've shown just the first few keys):

```python
{'Australia': 33688.71428571428,
 'Belgium': 45905.0,
 'Brazil': 52024.57142857143,
 'Britain': 51588.708333333336,
 'Canada': 31848.0,
 'China': 55397.880733944956,
 'Denmark': 35464.0,
 ...
 }
```

We'll practice this pattern to calculate the company that employs the most people in each country. To do this extra step, we'll use the [DataFrame.sort_values()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html) method to sort our dataframe so we can then select the first row which will give us our largest value.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

In this exercise, we're going to produce the following dictionary of the top employer in each country:

```python
{'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Brazil': 'JBS',
 ...
 'U.A.E': 'Emirates Group',
 'USA': 'Walmart',
 'Venezuela': 'Mercantil Servicios Financieros'}
```

- Read the documentation for the [DataFrame.sort_values() method](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html) to familiarize yourself with the syntax. You will need to use only the **by** and **ascending** parameters to complete this exercise.
- Create an empty dictionary, **top_employer_by_country** to store the results of the exercise.
- Use the **Series.unique()** method to create an array of unique values from the **country** column.
- Use a for loop to iterate over the array unique countries, and in each iteration:
  - Select only the rows that have a country name equal to the current iteration.
  - Use **DataFrame.sort_values()** to sort those rows by the **employees** column in descending order.
  - Select the first row from the sorted dataframe.
  - Extract the company name from the index label **company** from the first row.
  - Assign the results to the **top_employer_by_country** dictionary, using the country name as the key, and the company name as the value.
- When you have run your code, use the variable inspector to view the top employer for each country.

In [0]:
# put your code here
# can you do it using just one code line?
top_employer_by_country = {}
countries = f500["country"].unique()
for c in countries:
  selected_rows = f500[f500["country"] == c]
  order = selected_rows.sort_values(by="employees", ascending=False)
  top_employer = order.iloc[0]
  top_employer_by_country[c] = top_employer.name
top_employer_by_country

{'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Brazil': 'JBS',
 'Britain': 'Compass Group',
 'Canada': 'George Weston',
 'China': 'China National Petroleum',
 'Denmark': 'Maersk Group',
 'Finland': 'Nokia',
 'France': 'Sodexo',
 'Germany': 'Volkswagen',
 'India': 'State Bank of India',
 'Indonesia': 'Pertamina',
 'Ireland': 'Accenture',
 'Israel': 'Teva Pharmaceutical Industries',
 'Italy': 'Poste Italiane',
 'Japan': 'Toyota Motor',
 'Luxembourg': 'ArcelorMittal',
 'Malaysia': 'Petronas',
 'Mexico': 'America Movil',
 'Netherlands': 'EXOR Group',
 'Norway': 'Statoil',
 'Russia': 'Gazprom',
 'Saudi Arabia': 'SABIC',
 'Singapore': 'Flex',
 'South Korea': 'Samsung Electronics',
 'Spain': 'Banco Santander',
 'Sweden': 'H & M Hennes & Mauritz',
 'Switzerland': 'Nestle',
 'Taiwan': 'Hon Hai Precision Industry',
 'Thailand': 'PTT',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'USA': 'Walmart',
 'Venezuela': 'Mercantil Servicios Financieros'}

## 2 Challenge: Calculating Return on Assets by Sector


Now it's time for a challenge to bring everything together! In this challenge we're going to add a new column to our dataframe, and then perform some aggregation using that new column.

The column we create is going to contain a metric called [return on assets (ROA)](https://www.inc.com/encyclopedia/return-on-assets-roa.html). ROA is a business-specific metric which inicates a companies ability to make profit using their available assets.

$
\textrm{return on assets} = \frac{profits}{assets}
$

Once we've created the new column, we'll aggregate by sector, and find the company with the highest ROA from each sector. Like previous challenges, we'll provide some guidance in the hints, but try to complete it without them if you can.

Don't be discouraged if this challenge takes a few attempts to get correct. Working iteratively is a great way to work, and this challenge is more difficult than exercises you have previously completed.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>


- Create a new column **roa** in the **f500** dataframe, containing the return on assets metric for each company.
- Aggregate the data by the **sector** column, and create a dictionary **top_roa_by_sector**, with:
  - Dictionary keys with the sector name.
  - Dictionary values with the company name with the highest ROA value from that sector.

In [0]:
# put your code here

In this lesson, we learned how to:

- Select columns, rows and individual items using their integer location.
- Use **pd.read_csv()** to read CSV files in pandas.
- Work with integer axis labels.
- How to use pandas methods to produce boolean arrays.
- Use boolean operators to combine boolean comparisons to perform more complex analysis.
- Use index labels to align data.
- Use aggregation to perform advanced analysis using loops.

In the next lesson, we'll learn techniques to use when performing data cleaning to prepare a messy data set.